*  
{
    padding: 0;
    margin:  0;
    box-sizing: border-box;
}
.card
{
      padding: 1.5em;
      text-align: center;
      width: 23%;
      margin-bottom: 2em;
}
#card
{
       display: flex;
       flex-wrap: wrap;
       justify-content: space-around;
}
.heading{
    text-align: center;
}
.t1{
    font-size: 1.3rem;
}
.c1,.p1
{     
      font-weight: bold;    
      margin: 1em;
      font-size: 1.2rem;
      text-transform: capitalize;
}
.images{

    width: 80%;
}