
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.p1 {
    background-color: rgb(120, 177, 153);
    color: rgba(1, 1, 1, 0.479);
    text-align: center;
}

hr {
    border: 1px solid #ccc;
    margin: 20px 0;
}

.kkkk {
    display: flex;
    justify-content: space-around;
}

.kkkk img {
    max-width: 30%;
    height: auto;
    border-style: double;
    border-color: coral;
    border-left-color: rgb(157, 0, 255);
    border-width: 20px;
    
}

.p2 {
    background-color: rgb(139, 62, 103);
    padding: 10px;
    color: #fff;
}

.khushi {
    background-color: rgba(42, 7, 139, 0.538);
    padding: 10px;
    border-radius:10px;
    margin-left: 30px;
}

p {
    margin: 0;
}

h4 {
    text-align: center;
    margin-top: 20px;
}

footer {
    color: #555;
}
.p1 {
    background-color: rgb(139, 62, 103);
    padding: 10px;
    color: #fff;
    border-style: double;
    padding-top: 40px;
    outline-color: rgb(0, 255, 68);
    outline-style: groove;
outline-width: 4px;
}
.footer {
    background-color: rgb(132, 174, 132);
    font-style: italic;
    text-align: unset;
}

.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.p1,
.p2 {
    margin: 20px;
}

.footer {
    text-align: center;
    margin-top: 20px;
}
#skill{
    background-color: aqua;
}
