*{
   margin: 0;
   padding: 0;
   font-family: 'Poppins', sans-serif;
   box-sizing: border-box;
}
.container{
   width: 100%;
   min-height:100%;
   padding: 10px;
}
body{
   background-image:url("images/Background_img.jpg") ;
   background-size: cover ;
   background-repeat: no-repeat;
   background-attachment: fixed;
}
.todo-app{

   width: fit-content;
   background: rgba(5, 168, 250, 0.932);
   margin: 250px auto 20px;
   height: fit;
   padding: 40px 30px 70px;
   border-radius: 60px;
   
}
.todo-app h1{
   color:black;
   display: flex;
   align-items: center;
   margin-bottom: 20px;
}
.todo-app h1 img{
   width: 60px;
   margin-left: 10px;
}
.row{
   display: flex;
   align-items: center;
   justify-content: space-between;
   background: white;
   border-radius: 30px;
   padding: 10px;
   margin-bottom: 25px;
}
#input-box{
   border-style: none;
   outline: none;
   padding: 10px;
}
button{
     border: none;
     outline: none;
     padding: 10px 30px;
     background: rgba(81, 70, 205, 0.701);
     color: black;
     border-radius: 10px;
     font-size: 15px;
     cursor:pointer;
}
ul li{
   list-style: none;
   font-size: 17px;
   padding: 12px 8px 12px 50px;
   user-select: none;
   cursor: pointer;
   position: relative;
}
ul li::before{
   content:'';
   position: absolute;
   height: 28px;
   width: 28px;
   border-radius: 50%;
   background-image:url(images/unchecked.png);
   background-size: cover;
   background-position: center;
   top: 12px;
   left:8px;
}
ul li.checked{
   color: #23087a;
   text-decoration: line-through;
}
ul li.checked::before{
   background-image:url(images/checkmark.png);

}
ul li span{
   position: absolute;
   right: 0;
   top: 5px;
   width: 40px;
   height: 40px;
   font-size: 22px;
   color: #131313;
   line-height: 40px;
   text-align: center;
   border-radius:50%; 
}
ul li span:hover{
 background:#edeef0;
}